<%- include('../../admin-include/header') %>
<%- include('../../admin-include/sideBar') %>
<%- include('../../admin-include/nav') %>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Birthday Celebrants for today</h1>
    <p class="mb-4">This table displays all the members in AGCM celebrating thier birthday</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">

            <% success.forEach(function(message){ %>
            <div class="alert alert-success text-center"><%= message %></div>
            <% }) %>

            <% info.forEach(function(info){ %>
            <div class="alert alert-danger text-center"><%= info %></div>
            <% }) %>

            <h6 class="m-0 font-weight-bold text-primary">User's Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Second Name</th>
                            <th>email</th>
                            <th>department(s)</th>
                          
                            <th>residence</th>
                            <th>level/Years since completion</th>
                         
                            <th>Gender</th>
                            <th>Date of Birth</th>
                            <th>contact</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>First Name</th>
                          <th>Second Name</th>
                          <th>email</th>
                          <th>department(s)</th>
                         
                          <th>residence</th>
                          <th>level</th>
                         
                          <th>Gender</th>
                          <th>Date of Birth</th>
                          <th>contact</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <% users.forEach(function(users){%>
                        <tr>
                            <td><%=users.firstName%></td>
                            <td><%=users.lastName%></td>
                            <td><%=users.email%></td>
                            <td><%=users.department.departments%></td>
                           
                            <td><%=users.residence%></td>
                            <td><%=users.level%></td>
                          
                            <td><%=users.gender%></td>
                            <td><%=users.doB%></td>
                            <td><%=users.contact%></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
</div>
<%- include('../../admin-include/footer') %>