<%- include('../admin-include/header') %>
<%- include('../admin-include/sideBar') %>
<%- include('../admin-include/nav') %>

<!-- Content Wrapper -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content --> 
        <div class="container-fluid">

            <!-- 404 Error Text -->
            <div class="text-center">
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <% success.forEach(function(message){ %>
                            <div class="alert alert-success text-center"><%= message %></div>
                            <% }) %>
                            <% info.forEach(function(info){ %>
                            <div class="alert alert-success text-center"><%= info %></div>
                            <% }) %>
                            <h3 class="mb-30 title_color">Add Executives</h3>
                            <form action="/admin/executive" method="POST" enctype="multipart/form-data">
                                <div class="mt-10">
                                    <input class="form-control" type="text" name="name" placeholder="name"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'name'" required
                                        class="single-input">
                                </div>
                                <div class="mt-10">
                                    <input class="form-control" type="text" name="portfolio" placeholder="Portfolio"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Portfolio'" required
                                        class="single-input">
                                </div>
                                <div class="mt-10">
                                    <input class="form-control" type="text" name="contact" placeholder="contact"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'contact'" required
                                        class="single-input">
                                </div>
                                <div class="mt-10">
                                    <input class="form-control" type="file" name="file" required>
                                </div>

                                <div class="input-group-icon mt-10" class="">
                                    <div class="form-select" id="default-select2">
                                        <select name="yearGroup" class="form-control">
                                            <%yeargroup.forEach(function(yeargroup){ %>
                                            <option value="<%=yeargroup.yearGroup%>"><%=yeargroup.yearGroup%></option>
                                            <%})%>
                                        </select>
                                    </div>
                                </div>
                                <div class="button-group-area mt-40">
                                    <button type="submit" class="genric-btn primary circle">Add an Executive</button>
                                    <a href="/admin/viewAllExecutive" class="genric-btn danger circle">view all
                                        Executives</a>
                                </div>
                            </form>
                            <br><br>

                            <!-- add year group -->
                            <h3 class="mb-30 title_color">Add Year group</h3>
                            <p>You cant add an year group(contact the publicity department to enable it)</p>
                            <form action="/admin/addYearGroup" method="POST">
                                <div class="mt-10">
                                    <input class="form-control" type="text" name="yearGroup" placeholder="eg; 2020/2021"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'eg; 2020/2021'"
                                        required class="single-input" >
                                </div>
                                <div class="button-group-area mt-40">
                                    <button type="submit" class="genric-btn primary circle"  >Add</button>
                                </div>
                            </form>
                            <!-- add year group -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <%- include('../admin-include/footer') %>