<%- include('../../admin-include/header') %>
<%- include('../../admin-include/sideBar') %>
<%- include('../../admin-include/nav') %>

<!-- Content Wrapper -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- 404 Error Text -->
            <div class="">
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">

                            <h3 class="mb-30 title_color text-center">Edit Event</h3>
                            <form action="/admin/editEvent/<%= data.id%>" method="post" enctype="multipart/form-data">

                                <div class="mt-10">
                                    <input class="form-control" type="text" name="title" placeholder="title"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'title'" required
                                        class="single-input" value="<%=data.title%>">
                                </div>
                                <div class="mt-10">
                                    <input class="form-control" type="text" name="location" placeholder="location"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'location'" required
                                        class="single-input" value="<%=data.location%>">
                                </div>
                                <div class="mt-10">
                                    <input class="form-control" type="date" name="date" placeholder="date of the event"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'date of the eventn'"
                                        required class="single-input" value="<%=data.date%>">
                                </div>
                                <div class="mt-10">
                                    <label for="demo">Time to start program:</label>
                                    <input class="form-control" type="time" name="time" placeholder="time of the event"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'time of the event'"
                                        required class="single-input" value="<%=data.time%>">
                                </div>
                                <div class="mt-10">
                                    <label for="demo">Time to end program:</label>
                                    <input class="form-control" type="time" name="time_end"
                                        placeholder="time of the event" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'time of the event'" required class="single-input"
                                        value="<%=data.time_end%>">
                                </div>
                                <div class="mt-10">
                                    <textarea class="form-control mb-10" rows="5" name="details" placeholder="details"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'details'"
                                        required=""><%=data.details%></textarea>
                                </div>
                                <div class="mt-10">
                                    <input class="form-control" type="file" name="file" required>
                                </div>
                                <div class="button-group-area mt-40 text-center">
                                    <button type="submit" class="genric-btn primary circle">Edit Event</button>
                                    <a href="/admin/viewAllEvent" class="genric-btn danger circle">Cancle</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <%- include('../../admin-include/footer') %>