<%- include('../includes/header') %>
<%- include('../includes/nav') %>
<section class="banner_area blog_banner d_flex align-items-center">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="banner_content text-center">
            <%if(user){%>
            <h4>Are you a content <br />Creator?</h4>
            <p>Click on the link below to create a content/blog for free. Bless the World with your content</p>
            <a href="/viewAddPost" class="btn btn_hover">Create Now</a>
            <%}else{%>
            <h4>Are you a content <br />Creator?</h4>
            <p>Click on the link below to create a content/blog for free. Bless the World with your content</p>
            <a href="/signUp" class="btn btn_hover">Sign Up Now</a>
            <%}%>
        </div>
    </div>
</section>
<!--================Banner Area =================-->

<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="/image/blog/cat-post/cat-post-3.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html"><h5>Social Life</h5></a>
                            <div class="border_line"></div>
                            <p>Enjoy your social life together</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="/image/blog/cat-post/cat-post-2.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html"><h5>Christian Literature</h5></a>
                            <div class="border_line"></div>
                            <p>Enhance your spiritual life</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="/image/blog/cat-post/cat-post-1.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html"><h5>Health & Lifestyle</h5></a>
                            <div class="border_line"></div>
                            <p>Your wellbeign is important</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    <%pagination.posts.forEach(function(post){%>
                    <article class="row blog_item">
                       <div class="col-md-3">
                           <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#"><%=post.category%></a>
                                </div>
                                <ul class="blog_meta list_style">
                                    <li><a href="#"><%=post.arthur%><i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#"><%=post.date.getFullYear()%>/<%=post.date.getMonth()+1%>/<%=post.date.getDate()%><i class="lnr lnr-calendar-full"></i></a></li>
                                  
                                </ul>
                            </div>
                       </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <div class="feature-img">
                                    <a href="/blog-details/<%=post._id%>"></a><img class="img-fluid" src="/postUploads/<%=post.image%>" alt="<%=post.title%>" style="max-height:100%; max-width:100%;"> </a> 
                                </div>	
                 
                                <div class="blog_details">
                                    <a href="/blog-details/<%=post._id%>"><h2><%=post.title%></h2></a>
                                    <p><%-post.details.substring(0,250)%>....</p>
                                    <a href="/blog-details/<%=post._id%>" class="view_btn button_hover">Read More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                   <%})%>
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">     
                            <%if(pagination.pages > 0){%>
                                <% if (pagination.current == 1) { %>
                                    <li class="page-item active">
                                        <a href="/blog/1" class="page-link" aria-label="Previous">
                                            First
                                        </a>
                                    </li> 
                                <% } else { %>
                                    <!-- <li class="page-item"><a  class="page-link" href="/blog/1"></a></li> -->
                                <% } %>
                                <% var i = (Number(pagination.current) > 5 ? Number(pagination.current) - 4 : 1) %>
                                <% if (i !== 1) { %>
                                    <li class="page-item"><a class="page-link" >...</a></li>
                                <% } %>
                                <% for (; i <= (Number(pagination.current) + 4) && i <= pagination.pages; i++) { %>
                                    <% if (i == pagination.current) { %>
                                        <li class="page-item active"><a class="page-link"><%= i %></a></li>
                                    <% } else { %>
                                        <li class="page-item "><a class="page-link" href="/blog/<%= i %>"><%= i %></a></li>
                                    <% } %>
                                    <% if (i == Number(pagination.current) + 4 && i < pagination.pages) { %>
                                        <li class="disabled page-item"><a class="page-link"> ...</a></li>
                                    <% } %>
                                <% } %>
                                <% if (pagination.current == pagination.pages) { %>
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link" aria-label="Next">
                                            Last
                                        </a>
                                    </li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link" href="/blog/<%= pagination.pages %>">Last</a></li>
                                <% } %>
                            <%}%>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                     
                            <div class="input-group" id="someId">
                                <input type="text" class="form-control search-icon" placeholder="Search Posts" id="search-input">
                                <span class="input-group-btn">
                                    <!-- <a href="#" class=" header-search-icon" title="Search" data-toggle="tooltip" data-placement="bottom"><i class="lnr lnr-magnifier"></i></a> -->
                                    <button class="btn btn-default" type="button" id='search-icon'><i class="lnr lnr-magnifier search-icon"></i></button>
                                </span>
                            </div><!-- /input-group -->
                       
                       
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Popular Posts</h3>
                      <%popularPost.forEach(function(popularPost){%>
                        <div class="media post_item">
                            <img width="160px" height="70px" src="/postUploads/<%=popularPost.image%>" alt="post">
                            <div class="media-body">
                                <a href="/blog-details/<%=popularPost._id%>"><h3><%=popularPost.title%></h3></a>
                                <p><%=timeAgo.format(popularPost.date)%></p>
                            </div>
                        </div> 
                       <%})%>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" src="image/blog/add.jpg" alt=""></a>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Post Catgories</h4>
                        <ul class="list_style cat-list">
                          <%allCat.forEach(function(allCat){%>
                            <li>
                                <a href="/viewBlogByCategory/<%=allCat.postCategory%>/<%=allCat._id%>" class="d-flex justify-content-between">
                                    <p><%=allCat.postCategory%></p>
                                </a>
                            </li>
                            <%})%>												
                        </ul>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Categories</h4>
                        <ul class="list_style">
                            <%allCat.forEach(function(allCat){%>
                                <li><a href="/viewBlogByCategory/<%=allCat.postCategory%>/<%=allCat._id%>"><%=allCat.postCategory%></a></li>
                                <%})%>		 
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->

<%- include('../includes/footer') %>